# MISSION TO MARS

## NASA Mars News

In [38]:
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup as bs
import pandas as pd
import time

In [8]:
 # https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

In [9]:
executable_path = {'executable_path': '/Users/xiening/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [10]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [11]:
html = browser.html
soup = bs(html, "html.parser")

In [12]:
news_title = soup.find("div", class_ = "content_title").text
news_p = soup.find("div", class_ = "article_teaser_body").text
print(f"news_title = {news_title}")
print(f"news_p = {news_p}")

news_title = NASA's Mars 2020 Will Blaze a Trail — for Humans
news_p = The next robotic Mars mission will carry technology that will help enable astronauts to eventually explore the Red Planet.

## JPL Mars Space Images - Featured Image

In [13]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=feature&category=Mars#submit"
browser.visit(image_url)

In [14]:
from urllib.parse import urlsplit
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(image_url))
print(base_url)

https://www.jpl.nasa.gov/

In [16]:
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [17]:
results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [18]:
img_html = browser.html
soup = bs(img_html, "html.parser")
img_url = soup.find("img", class_ = "fancybox-image")["src"]
img_url = base_url + img_url
print(f"{img_url}")

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23283_hires.jpg

## Mars Weather

In [22]:
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

In [24]:
weather_html = browser.html
soup = bs(weather_html, "html.parser")
Mars_Weather = soup.find("p", class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(f"{Mars_Weather}")

InSight sol 192 (2019-06-11) low -104.9ºC (-156.8ºF) high -23.6ºC (-10.6ºF)
winds from the W at 4.3 m/s (9.7 mph) gusting to 15.4 m/s (34.4 mph)
pressure at 7.60 hPapic.twitter.com/qacCeZLc6e

## Mars Facts

In [26]:
url_facts = "https://space-facts.com/mars/"

In [30]:
facts_table = pd.read_html(url_facts)
facts_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
df_facts = facts_table[0]
df_facts.columns = ["Parameter", "Values"]
df_facts.set_index(["Parameter"])

                                             Values
Parameter
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [33]:
facts_html_table = df_facts.to_html()
facts_html_table = facts_html_table.replace("\n", "")
facts_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameter</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemisperes

In [34]:
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [35]:
hemis_base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(hemisphere_url))
print(hemis_base_url)

https://astrogeology.usgs.gov/

In [42]:
hemisphere_image_urls=[]

for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    hemis_html = browser.html
    soup = bs(hemis_html, 'html.parser')
    partial = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ partial
    key_and_value={"title":img_title,"img_url":img_url}
    hemisphere_image_urls.append(key_and_value)
    browser.back()

In [43]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]